*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    /* background-color: #f0ede7; */
    background-color: #f9f5ed;

    font-family: 'Poppins', sans-serif;
}
.nav
{
    display: flex;
    font-weight: 300;
    /* justify-content:space-evenly ; */
    /* background-color: rgb(129, 205, 137); */
}
.menu ol li
{
    display: inline-block;
    margin: 2% 20px;
}
.logo
{
    margin-left: 13%;
    margin-top: 1%;
    margin-right: 40px;
}
.menu{
    /* padding-right: 500px; */
    flex-grow: 2;
}
.main_part
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rside{
    flex-grow: 2;
    margin-left: 13%;
    margin-top: 19%;
    align-self:flex-start;
    
}

.lside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: 15%;
    margin-top: 7%;
    gap: 15px;
}
.img3{
    /* grid-row-start: 2; */
    grid-column-start: 1;
    grid-column-end: 3;
    /* width: 90%; */
}
.img3_di
{
    width: 450px;
}
.img1_di{
    padding-top: 20px;
}
.img1_di,.img2_di
{
    width:219px;
}
.img2
{
    align-self:baseline;
}
.rside h1{
    font-size: 43px;
}
.rside p{
    margin: 17px 0;
}
.btn
{
    width:85px;
    padding: 10px 7px;
    background-color: #348e5b;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    border:1px solid white;
}
.menu li:hover{
    color:#146537;
    /* font-size: 15px; */
}
.img1_di:hover{
    padding-top: 0px;
    margin-bottom: 50px;
    transition: all .2s ease-in-out;
}
.img2_di:hover{
    /* padding-left: 30px; */
    margin-bottom: 5px;
    width: 240px;
    transition: all .2s ease-in-out;

}
.img3_di:hover{
    /* padding-left: 50px;
    padding-top: 10px; */
    width: 500px;
    transition: all .2s ease-in-out;

}
header{
    padding-top: 1.5%;
}